<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>登陆</title>
    <meta name="description" content="Ela Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../static/assets/css/normalize.css"
          th:href="@{assets/css/normalize.css}">
    <link rel="stylesheet" href="../static/assets/css/bootstrap.min.css"
          th:href="@{assets/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/assets/css/font-awesome.min.css"
          th:href="@{assets/css/font-awesome.min.css}">
    <link rel="stylesheet" href="../static/assets/css/themify-icons.css"
          th:href="@{assets/css/themify-icons.css}">
    <link rel="stylesheet" href="../static/assets/css/pe-icon-7-filled.css"
          th:href="@{assets/css/pe-icon-7-filled.css}">
    <link rel="stylesheet" href="../static/assets/css/flag-icon.min.css"
          th:href="@{assets/css/flag-icon.min.css}">
    <link rel="stylesheet" href="../static/assets/css/cs-skin-elastic.css"
          th:href="@{assets/css/cs-skin-elastic.css}">
    <link rel="stylesheet" href="../static/assets/css/style.css"
          th:href="@{assets/css/style.css}">
    <link rel="stylesheet" href="../static/assets/css/main.css"
          th:href="@{assets/css/main.css}">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
</head>
<body class="bg-dark">

<div class="sufee-login d-flex align-content-center flex-wrap">
    <div class="container">
        <div class="login-content">
            <div class="login-logo">
                <a href="index.html">
                    <img class="align-content" src="../static/images/logo.png" alt="">
                </a>
            </div>
            <div class="login-form">
                <form>
                    <div class="form-group">
                        <label>用户名</label>
                        <input type="text" class="form-control" placeholder="请输入用户名">
                    </div>
                    <div class="form-group">
                        <label>密 码</label>
                        <input type="password" class="form-control" placeholder="请输入密码">
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> 记住我
                        </label>
                        <label class="pull-right">
                            <a href="#">忘记密码?</a>
                        </label>

                    </div>
                    <button type="submit" class="btn btn-success btn-flat m-b-30 m-t-30">登 陆</button>
                    <div class="social-login-content">
                        <div class="social-button">
                            <button type="button" class="btn social facebook btn-flat btn-addon mb-3"><i
                                    class="ti-facebook"></i>使用微信登陆
                            </button>
                            <button type="button" class="btn social twitter btn-flat btn-addon mt-2"><i
                                    class="ti-twitter"></i>使用QQ登陆
                            </button>
                        </div>
                    </div>
                    <div class="register-link m-t-15 text-center">
                        <p>没有账号 ? <a href="#"> 点击注册</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="../static/assets/js/vendor/jquery-2.1.4.min.js"
        th:src="@{assets/js/vendor/jquery-2.1.4.min.js}"></script>
<script src="../static/assets/js/popper.min.js"
        th:src="@{assets/js/popper.min.js}"></script>
<script src="../static/assets/js/bootstrap.min.js"
        th:src="@{assets/js/bootstrap.min.js}"></script>
<script src="../static/assets/js/jquery.matchHeight.min.js"
        th:src="@{assets/js/jquery.matchHeight.min.js}"></script>
<script src="../static/assets/js/main.js"
        th:src="@{assets/js/main.js}"></script>

</body>
</html>
